.error-container {
    background-color: #f8f9fa;
  }
  
  .error-content {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid rgba(122, 49, 49, 0.1);
    border-top: 5px solid #000000;
    background-color: white;
  }
  
  .error-icon svg {
    animation: bounce 2s infinite;
  }
  
  .error-title {
    font-size: 6rem;
    line-height: 1;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    color: #000000;
  }
  
  .error-subtitle {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .error-text {
    color: #495057;
    font-size: 1.25rem;
  }
  
  .btn-primary {
    background-color: #000000;
    border-color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #282626;
    border-color: #ffffff;
    transform: translateY(-2px);
  }
  
  .btn-outline-primary {
    color: #000000;
    border-color: #000000;
    transition: all 0.3s ease;
  }
  
  .btn-outline-primary:hover {
    color: white;
    background-color: #7a3131;
    border-color: #7a3131;
    transform: translateY(-2px);
  }
  
  /* Animaciones */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
  }
  
  @media (max-width: 768px) {
    .error-title {
      font-size: 4rem;
    }
    .error-subtitle {
      font-size: 1.5rem;
    }
    .error-text {
      font-size: 1rem;
    }
  }